# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Angie Wang
email: awang@ap.org
description: > # this means to ignore newlines until "baseurl:"
  Angie Wang is a video journalist, producer and editor who's covered many of the nation's watershed moments over the past decade. She most recently managed a team of AP video journalists based in New York, leading coverage of major stories, training new hires and coaching veteran reporters to present their work to digital audiences.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://angie.wang" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: byangiewang
instagram_username:  angiewang.jpg

# Build settings
markdown: kramdown
theme: minima
gems:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock

defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "post"
      authors: ["Angie Wang"]
      photo:
        thumbnail: true